:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral */

  --VeryDarkBlue: hsl(234, 12%, 34%);
  --GrayishBlue: hsl(229, 6%, 66%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0%;
  margin: 0%;
}

.container {
  display: flex;
  flex-direction: column;
}

/*------------------CABECERA----------------------------*/
.cabecera {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #80a4ed;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #395c6b;
  box-shadow: 0px 3px 6px #2e3e60;
}

.empresa,
.opciones {
  display: flex;
  align-items: center;
}

.img_logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 1rem;
  box-shadow: 3px 3px 6px gray;
}

.opciones {
  padding-right: 2rem;
}

.logo {
  text-shadow: 3px 3px 6px gray;
}

.button_c {
  margin-right: 5px;
  background-color: #dba721;
  padding: 10px;
  border: 0;
  border-radius: 15px;
  color: white;
  box-shadow: 3px 3px 6px gray;
}

.button_c:hover {
  background-color: #6f5104;
}

/*----------------------CUERPO-------------------------------*/
.container_principal {
  padding-top: 4rem;
}

.sector1 {
  display: flex;

  padding: 3rem;
}
.img1 {
  width: 50%;

  border-radius: 100%;
  box-shadow: 3px 3px 6px gray;
}
.cuerpo1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5rem;
  padding-left: 3rem;
}
.titulos {
  color: #395c6b;
}

.descripcion {
  color: #b6a21e;
  text-align: justify;
  text-shadow: 3px 3px 20px gray;
}

.button_d {
  width: 150px;
  padding: 10px;
  margin-left: 6rem;
  border: 0px;
  border-radius: 15px;
  background-color: #a1b7e5;
  box-shadow: 3px 3px 6px gray;
  color: white;
}
.button_d:hover {
  background-color: #2e3e60;
}

.sections {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #e6e1c5;
  color: #80a4ed;
  box-shadow: 0px 3px 6px #504a24;
}

.sector2 {
  display: flex;
}
.cuerpo2 {
  padding: 3rem;
  width: 50%;
}
.infraestructura {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.iconos_inf {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  gap: 100px;
}
.img2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 6px gray;
  width: 90%;
  border-radius: 30%;
  margin-right: 1rem;
}

.sector3 {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.persona1,
.persona2,
.persona3 {
  display: flex;
  flex-direction: column;
  width: 30%;

  border: 5px;
  box-shadow: 3px 3px 15px gray;
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
}

.datos {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.img_perfil {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 3px 3px 6px gray;
}

.perfil_vet {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.cargo_vet {
  margin-top: 0%;
  color: #395c6b;
}

.sector4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.servicio1,
.servicio2,
.servicio3,
.servicio4,
.servicio5,
.servicio6 {
  justify-content: center;
  border: 5px;
  box-shadow: 3px 3px 15px gray;
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
}

.servicio1 {
  border-top: 0.5rem solid var(--Cyan);
}
.servicio2 {
  border-top: 0.5rem solid var(--Red);
}

.servicio3 {
  border-top: 0.5rem solid var(--Orange);
}

.servicio4 {
  border-top: 0.5rem solid var(--Blue);
}
.servicio5 {
  border-top: 0.5rem solid var(--VeryDarkBlue);
}
.servicio6 {
  border-top: 0.5rem solid var(--GrayishBlue);
  margin-bottom: 2rem;
}

/*------------------CONTACTOS----------------------------*/
.contactos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.redes {
  display: flex;
  margin-left: 2px;
  gap: 5px;
}

.cont_img {
  width: 20px;
  height: 20px;
}
.cont_img:hover {
  width: 30px;
  height: 30px;
}
/*------------------PIE_DE_PAGINA----------------------------*/
.inferior {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

/*-----------------Version_Mobile---------------------------*/
@media screen and (max-width: 768px) {
  .sector1 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .img1 {
    margin-top: 1rem;
    width: 300px;
  }

  .cuerpo1 {
    width: 400px;
    padding: 1rem;
  }

  .sector2 {
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }

  .cuerpo2 {
    width: 400px;
    padding: 1rem;
  }

  .infraestructura {
    justify-content: center;
  }
  .img2 {
    width: 300px;
  }

  .sector3 {
    flex-direction: column;
  }

  .persona1,
  .persona2,
  .persona3 {
    width: 300px;
  }

  .sector4 {
    flex-direction: column;
  }
  .servicio1,
  .servicio2,
  .servicio3,
  .servicio4,
  .servicio5,
  .servicio6 {
    width: 300px;
  }

  .contactos {
    flex-direction: column;
  }

  .a_perfil {
    margin-top: 1rem;
  }

  .inferior {
    margin-top: 0%;
    padding-top: 0%;
  }
}
