body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 0%;
  margin: 0%;
}

.container {
  display: flex;
  flex-direction: column;
}

/*------------------CABECERA----------------------------*/
.cabecera {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #80a4ed;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #395c6b;
}

.empresa,
.opciones {
  display: flex;
  align-items: center;
}
.logo {
}

.img_logo {
  width: 50px;
  height: 50px;
  margin: 1rem;
}

.opciones {
  padding-right: 2rem;
}
/*----------------------CUERPO-------------------------------*/
.container_principal {
  padding-top: 4rem;
}

.sector1 {
  display: flex;
}
.img1 {
  width: 50%;
  padding: 3rem;
  border-radius: 100%;
}
.cuerpo1 {
  width: 30%;
  justify-content: center;
  padding-top: 5rem;
}
.titulos {
  color: #395c6b;
}

.descripcion {
  color: #b6a21e;
  text-align: justify;
}

.section1,
.section2,
.section3,
.section4 {
  display: flex;
  justify-content: center;
  background-color: #e6e1c5;
  color: #80a4ed;
}

.sector2 {
  display: flex;
}
.cuerpo2 {
  padding: 3rem;
  width: 50%;
}
.infraestructura {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.iconos_inf {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  gap: 100px;
}
.img2 {
  padding: 2rem;
  margin-bottom: 1rem;
  width: 90%;
  border-radius: 30%;
  margin-right: 1rem;
}

.sector3 {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.persona1,
.persona2,
.persona3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 5px;
  box-shadow: 3px 3px 15px gray;
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
}

.datos {
  display: flex;
  align-items: center;
}

.img_perfil {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.perfil_vet {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.cargo_vet {
  margin-top: 0%;
  color: #395c6b;
}

.sector4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.servicio {
  justify-content: center;
  border: 5px;
  box-shadow: 3px 3px 15px gray;
  padding: 2rem;
  border-radius: 5px;
  margin: 1rem;
}

/*------------------CONTACTOS----------------------------*/
.contactos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.redes {
  display: flex;
  margin-left: 2px;
  gap: 5px;
}

.cont_img {
  width: 20px;
  height: 20px;
}
.cont_img:hover {
  width: 30px;
  height: 30px;
}
/*------------------PIE_DE_PAGINA----------------------------*/
.inferior {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

/*#CA0B0B*/
